# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

# Задание

# Вам необходимо: используя scrapy, написать парсер, который будет собирать информацию:
#- название
#- жанр
#- режиссер
#- страна
#- год
#о фильмах. Парсер должен сохранять результаты в формате CSV.

# Дополнительное задание: дополнить парсер возможностью собрать рейтинг IMDB к уже собранным фильмам, ресурс можно
# использовать любой на ваше усмотрение.


[settings]
default = film_parser_gk.settings

[deploy]
#url = http://localhost:6800/
project = film_parser_gk
